
$default-font: "avenir", sans-serif
$gilroy: "gilroy", sans-serif
$stanleyPoster: "stanleyPoster", sans-serif
$avenir: "avenir", sans-serif
$scalaCapsBold: "scalaCapsBold", sans-serif



$accent: #E3C0A9
$darkGrey: #4B4B4B
$grey: #626262
$brown: #E3C0A9
$lightBrown: #EEE5DE
$darkBlack: #393939


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
